body
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
.app
  display: flex
  flex-direction: column
  min-height: 100vh
  nav
  #content
    flex: 1
  footer
    padding: 20px 0
    font-size: .8em
    opacity: .8
.page-title
  font-size: 56px
  margin-top: 56px
  margin-bottom: 16px
  text-align: center
.container
  max-width: 768px
.form-control
  padding: 0 24px
  min-height: 64px
  background-color: rgba(0, 0, 0, 0.05)
  border: none
  &:focus
    box-shadow: none

    background-color: rgba(0, 0, 0, 0.05)
  &::placeholder
    color: #c9c9c9
@media (max-width: 768px)
  nav
    border-bottom: 1px solid #ececec
@media (min-width: 768px)
  nav 
    &>.container
      padding: 0 15px !important 