extends layout.pug
block head
	title STUIX - About
block content
	.window
		.title-bar
			.title-bar-text About
			.title-bar-controls
				button(aria-label='Minimize')
				button(aria-label='Maximize')
				button(aria-label='Close')
		.window-body
			h4 About
			p This is a non-profit IX (Internet Exchange)
			h4 Mission Statement
			h4 Who are the network operators?
			p
			h4 Special Thanks
			p


