//- layout.pug
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible',content='IE=edge')
		meta(name='viewport',content='width=device-width, initial-scale=1')
		link(rel='icon',href='https://raw.githubusercontent.com/STU-IX/branding/main/Logo/Logo.svg')
		link(rel='stylesheet',href='/css/reset.css')
		link(rel='stylesheet',href='https://unpkg.com/98.css')
		link(rel='stylesheet',href='/css/index.css')
		block head
	body
		#container
			header 
				h1 STUIX
				p Wow such a non-profit IX
			#content
				hr
				#nav
					a(href='/') 
						button Home
					a(href='/about.html') 
						button About
					a(href='/join.html') 
						button Join
					a(href='/members.html') 
						button Members
				hr
				block content
			block foot
				#footer
					hr
					p Design by 
						a(href='https://gnehs.net',target='_blank') gnehs
						| .
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
		script(src='/js/index.js')
		block script